name: CI
permissions:
  contents: read
  pull-requests: write

on:
  push:
    branches:
      - main
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: test (${{ matrix.os }}, node-${{ matrix.node }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: [22.x]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
      - name: Install Dependencies
        run: npm ci
      - name: Generate
        run: npm run generate
      - name: Check Format
        run: npm run format && git diff --exit-code
      - name: Lint
        run: npm run lint

  release:
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 22.x
      - name: Install Dependencies
        run: npm ci
      - name: Generate
        run: npm run generate
      - name: Load secrets from 1Password
        id: load_secrets
        uses: 1password/load-secrets-action@v3
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          GITHUB_TOKEN: op://cicd_dankeboy36/GITHUB_TOKEN/credential
          NPM_TOKEN: op://cicd_dankeboy36/NPM_TOKEN/credential
      - name: Release
        id: release
        run: npm run release
        env:
          GITHUB_TOKEN: ${{ steps.load_secrets.outputs.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ steps.load_secrets.outputs.NPM_TOKEN }}
    outputs:
      release_version: ${{ steps.release.outputs.release_version }}
